apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: customer-management-keda
  labels:
    app: customer-management
spec:
  scaleTargetRef:
    name: customer-management
  minReplicaCount: 2
  maxReplicaCount: 10
  pollingInterval: 30
  cooldownPeriod: 120
  triggers:
    - type: kafka
      metadata:
        bootstrapServers: kafka:9092
        consumerGroup: purchase-group
        topic: purchases
        lagThreshold: "50"

